[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group approvers-platform-libcore
	abandon = group ENH
	label-Verified = -1..+1 group AOSP
	label-Verified = -1..+1 group ENH
	submit = group ENH
[access]
	inheritFrom = Platform-Projects
[access "refs/heads/jb-mr2.0-cts-release"]
	create = group Android Maintainers
	push = group Android Maintainers
